body {
  font-family: "Raleway", sans-serif;
}

hr {
  border: 2px solid #336699;
  border-radius: 2px;
}

button {
  font-size: 1em;
  border: 1px solid #336699;
  border-radius: 2px;
  background-color: #336699;
  color: #ffffff;
}

button:disabled,
button[disabled] {
  background-color: #cccccc;
  color: #666666;
}
